@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    src: local('Roboto Thin'), local('Roboto-Thin'), url('../fonts/Roboto-Thin.woff') format('woff');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: local('Roboto Light'), local('Roboto-Light'), url('../fonts/Roboto-Light.woff') format('woff');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'), url('../fonts/Roboto-Regular.woff') format('woff');
}

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    padding: 10px;
    background-repeat: no-repeat;
    xbackground-image: url('/images/background.jpg');
    background-size: cover;
    font-family: Roboto;
    color: #5d6162;
}

.center {
    display: flex;
    align-items: center;
    min-height: 90%;
    width: 100%;
    justify-content: center;
}

.center > div {
}

h1 {
    color: #da0050;
    font-weight: 300;
    font-size: 4em;
    margin:0px;
}

h2 {
    font-weight: 100;
    color: #889198;
    font-size:24px;
    margin:14px 0px 24px 0px;
}

h2 strong {
    font-weight: 300;
}

a:link, a:visited {
    color: #00BED3;
}

button, a.button, a.button:visited {
    display:inline-block;
    color: #da0050;
    text-transform: uppercase;
    font-size:1.1em;
    line-height: 1.5em;
    padding:8px 26px;
    background:none;
    border:2px solid #da0050;
    transform: skewX(-45deg);
    transition-property: background, color;
    transition-duration: 0.1s;
    -webkit-font-smoothing:subpixel-antialiased;
}

button span, .button span {
    font-size:19px;
    display:inline-block;
    transform: skewX(45deg);
}

button:hover, a.button:hover {
    background: #da0050;
    color:#ffffff;
}

.file {
    display: block;
    font-weight: 300;
    background: #fff;
    font-size: 18px;
    margin: 12px auto 4px auto;
    padding: 4px 0px 4px 0px;
    border-bottom: 1px solid #a8aeb3;
    transition-property: background, color;
    transition-duration: .4s
}

.file.uploadSuccessful {
    color: #fff;
}

.file input {
    border: none;
    width: 100%;
    background: none;
}

.file .date, .file .size, .file .actions {
    text-align: right;
    white-space: nowrap;
}

.uploadField {
    font-weight: 100;
    color: #889198;
    padding: 20px;
    transition-property: background, color;
    transition-duration: .4s
}

.uploadField a {
    cursor: pointer;
    color: #889198;
    text-decoration: none;
    border-bottom: 1px solid #889198;
    transition-property: color, border-color;
    transition-duration: .4s
}

.uploadField a:hover {
    color: #00BED3;
    border-bottom: 1px solid #00BED3;
}

.uploadField.drop {
    color: #fff;
    background: #00BED3;
}

.uploadField.drop a {
    color: #fff;
    border-bottom: 1px solid #fff;
}

.upload {
    text-align: center;
    xfont-style: italic;
    font-size: 28px;
    margin: 0px;
    padding: 20px;
    xborder: 4px solid #eee;
}

.logout {
    display: block;
    text-align: right;
    width: 100%;
    padding: 8px 15px;
}